span {
  display: block;
  padding-bottom: 3px;
}

* {
  box-sizing: border-box;
}

html {
  font-family: 'Jost', sans-serif;
}

body {
  margin: 0;
}

button.p-button {
  color: #ffffff;
  background: #2196F3;
  border: 1px solid #2196F3;
  padding: 0.6rem 1rem;
  font-size: 1rem;
  transition: background-color 0.2s, color 0.2s, border-color 0.2s, box-shadow 0.2s;
  border-radius: 3px;
}

.general {
  font-size: 1.25rem;
  font-weight: bold;
  background-color: #e8776d;
  padding: 0.5rem;
  color: white;
  border-radius: 25px;
}

.input-custom {
  padding-right: 0.5rem;
  display: inline;
}

section {
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.26);
  margin: 3rem;
  border-radius: 10px;
  padding: 1rem;
  text-align: center;
}

h2 {
  font-size: 2rem;
  border-bottom: 4px solid #ccc;
  color: #e8776d;
  margin: 0 0 1rem 0;
}

span.shadow {
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.26);
  margin: 1.5rem;
  border-radius: 10px;
  padding: 1rem;
}

input {
  font: inherit;
  border: 1px solid #ccc;
  border-radius: 3px;
}

input:focus {
  outline: none;
  border-color: #1b995e;
  background-color: #d7fdeb;
}

button:hover,
button:active {
  background-color: #ec3169;
  border-color: #ec3169;
  box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.26);
}

label.padding-right {
  padding-right: 0.5rem;
}

span .phonetic {
  padding-left: 0.5rem;
  display: flex;
}

span .phonetic .text {
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  padding-top: 0.5rem;
}

.text-left {
  padding-left: 0.5rem;
  text-align: left;
}